<div class="item">
  <div class="text">
    <h2>escrito a lápiz</h2>

    <div class="description">
      <p>Escrito a lápiz es una editorial pequeña que publica cuentos y poemas pequeños...</p>
      <p>La editorial escrito a lápiz nace hace algún tiempo como una posibilidad, como un sueño...
        sólo una idea intermitente, de ésas que a veces, ocupan la cabeza y se van como vinieron.</p>
      <p>Pero a veces, la ideas persisten...</p>
    </div>
  </div>
</div>